.container {
  width: 100%;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
}
.dataGrid {
  width: 100%;
  list-style: none;
  overflow: auto;
  border: 1px solid #e9e9e9;
  padding-left: 0 !important;
}
.dataGrid .dataGrid-content {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #e9e9e9;
  /* border: 1px solid #e9e9e9;
  border-radius: 10px;
  margin-bottom: 10px; */
}
.dataGrid li > .dataGrid-content:nth-child(odd) {
  background-color: #fff;
}
.dataGrid .dataGrid-content:hover {
  background-color: gray;
  cursor: pointer;
  color: #fff;
}
.dataGrid .dataGrid-content > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}